.cdsfw_table {
    width: 100%;
    border-collapse: collapse;
}

.cdsfw_table th,
.cdsfw_table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.cdsfw_table th {
    background-color: #f2f2f2;
}

.cdsfw_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cdsfw_card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.card-body {
    padding: 10px;
}

.card-text {
    font-weight: bold;
    margin-bottom: 10px;
}

.shortcode {
    color: #666;
}